/* textarea{
    display: block;
    margin-bottom: 14px;
} */

.form{
    position: absolute;
    width: 400px;
    height: 284px;
    left: 1094px;
    top: 113px;

}

.button{
    width: 158px;
    height: 60px;
    range: 5px;
    position: absolute;
    left: 115px;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin-top: 2px;
    background: #EE4D47;
    border-radius: 5px;
}

textarea{
    /* position: absolute; */
    width: 400px;
    height: 60px;
    margin-bottom: 14px;
    /* left: 1094px; */
    /* top: 113px; */
    

    background: #FFFFFF;
    border: 2px solid #EE4D47;
    box-sizing: border-box;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.2);
    border-radius: 5px;
}