.details{
    margin-top: 14px;
}
.details h5{
    display: inline;
    /* margin-right: 30px; */
    margin-left: 24px;
    
}
.users{
    width: 550px;
    height: 594px;
    

    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border: 1px solid;
    border-radius: 10px;
}
.buttons{
    float: right;
}

/* button{
    width: 36px;
} */
.buttons .right{
    margin-right: 12px;
}

.rectangle{
    position: absolute;
    width: 550px;
    height: 515px;
    left: 506px;
    top: 113px;

    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px;
}

h5{
    font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 40px;
/* or 222% */

/* text */
color: #402B2B;
}