.wallpaper{
    position: absolute;
    left: 20.14%;
    right: -0.25%;
    top: -0.26%;
    bottom: 30.15%;
    /* width: 1285px; */
     /* height: 800px; */
}

.rectangle{
    position: absolute;
    width: 550px;
    height: 515px;
    left: 506px;
    top: 113px;

    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px;
}